body{
color: forestgreen; 
background-image: url(Images/Coursessvg.jpg);

}
h1{
font-size: 42px;
    color: forestgreen;
    text-align: left;
}
.question {
font-size: 28px;
color: forestgreen;
}
.answer {
   font-size: 21px;
color: forestgreen; 
}